* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

.Tana{
    width: 600px;
    height: 700px;
    background-color: #212121;
}

.TgImage{
  margin-top: 40px;
  margin-left: 85px;

}

.StrTg{
    text-align: center;
    margin-top: 1px;
    color: white;
    font-size: 27px;  
}

.StrTgBottom{
    text-align: center;
    margin-top: 10px; 
    color: #787878;
    font-size: 14px;
}

fieldset{
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  color: #979797;
  border-radius: 10px;
  font-size: 12px;
}

.Box1{

    background-color: #212121;
    color: white;
    border-color: #212121;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px; 
    border-radius: 10px;
}

.Box2{

  width: 100%;
  border: 1px solid transparent;
  height: 35px;
  margin-left: 8px;
  padding-bottom: 5px;
  background-color: transparent;
  color: white;
  font-size: 15px;
}

.checkBox{
  width: 100%;
  margin-left: 30%;
  margin-top: 20px;
  font-size: 15px;
  color: white;
}

.btn{
  width: 30%;
  margin-left: 35%;
  font-size: 15px;
  margin-top: 55px;
  color: #685ca8;
  background-color: #212121;
  border: none;
  margin-bottom: 100px;
}
