a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(148, 11, 34);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(0, 255, 72);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  